.card {
    border: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 400px;
}

.card .title{
    padding: 5px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
}

.card .content {
    flex-grow: 1;
    background-color: aliceblue;
    color: #000;
    padding: 0 15px;
    text-align: left;
}